fastapi==0.68.0
pydantic==1.8.2
uvicorn==0.20.0
aiokafka
aiohttp==3.8.1
# pytest==6.0
# requests==2.24
# pip install aiokafka fastapi uvicorn
# From Anthea's requirements.txt in Kafka-Consumer_Producer
numpy
pandas
# pika
# python-dateutil==2.9.0.post0
# pytz==2024.1
# six==1.16.0
SQLAlchemy
# typing_extensions==4.12.2
# tzdata==2024.1
asyncpg # PostgreSQL async driver
databases[PostgreSQL]
python-dotenv
psycopg2